<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Pinteresting", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to root_path do %> <i class="fa fa-home">&nbsp;Home</i> <% end %></li>
      <li><%= link_to about_path do %> <i class="fa fa-pencil">&nbsp;About</i> <% end %></li> 
      <% if user_signed_in? %>
      <li><%= link_to destroy_user_session_path, method: :delete do %> <i class="fa fa-sign-out">&nbsp;Logout</i> <% end %></li>
      <% else %>
      <li><%= link_to new_user_session_path do %> <i class="fa fa-sign-out">&nbsp;Sign in</i> <% end %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</div> <!-- /.container -->
</nav>